Import the necessary moduels

In [1]:
import pandas as pd

Read the data into a dataframe

In [3]:
df = pd.read_csv('../data/kepler.csv')

View the first and last rows in the dataframe.

In [10]:
#the first 5 rows
df.head()

,# name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
0,OGLE-2016-BLG-1469L b,Confirmed,13.60,3.00,3.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11 Com b,Confirmed,19.40,1.50,1.50,19.40,1.50,1.50,NaN,NaN,...,G8 III,NaN,NaN,NaN,4742.0,100.0,100.0,NaN,NaN,NaN
2,11 Oph b,Confirmed,21.00,3.00,3.00,NaN,NaN,NaN,NaN,NaN,...,M9,0.011,0.002,0.002,2375.0,175.0,175.0,NaN,NaN,NaN
3,11 UMi b,Confirmed,10.50,2.47,2.47,10.50,2.47,2.47,NaN,NaN,...,K4III,1.560,0.540,0.540,4340.0,70.0,70.0,NaN,NaN,NaN
4,14 And b,Confirmed,5.33,0.57,0.57,5.33,0.57,0.57,NaN,NaN,...,K0III,NaN,NaN,NaN,4813.0,20.0,20.0,NaN,NaN,NaN

In [11]:
#the last 5 rows
df.tail()

,# name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
3727,tau Gem b,Confirmed,20.600,NaN,NaN,20.600,NaN,NaN,NaN,NaN,...,K2III,1.22,0.76,0.76,4388.0,25.0,25.0,NaN,NaN,NaN
3728,ups And b,Confirmed,0.620,0.090,inf,0.620,0.090,0.090,NaN,NaN,...,F8 V,3.80,1.00,1.00,6212.0,80.0,80.0,NaN,NaN,NaN
3729,ups And c,Confirmed,9.100,2.900,5.000,1.800,0.260,0.260,NaN,NaN,...,F8 V,3.80,1.00,1.00,6212.0,80.0,80.0,NaN,NaN,NaN
3730,ups And d,Confirmed,23.580,2.295,2.931,10.190,NaN,NaN,NaN,NaN,...,F8 V,3.80,1.00,1.00,6212.0,80.0,80.0,NaN,NaN,NaN
3731,ups And e,Confirmed,1.059,0.028,0.028,1.059,0.028,0.028,NaN,NaN,...,F8 V,3.80,1.00,1.00,6212.0,80.0,80.0,NaN,NaN,NaN

In [14]:
#the first 10 rows
df.head(10)

,# name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
0,OGLE-2016-BLG-1469L b,Confirmed,13.60,3.00,3.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11 Com b,Confirmed,19.40,1.50,1.50,19.40,1.50,1.50,NaN,NaN,...,G8 III,NaN,NaN,NaN,4742.0,100.0,100.0,NaN,NaN,NaN
2,11 Oph b,Confirmed,21.00,3.00,3.00,NaN,NaN,NaN,NaN,NaN,...,M9,0.011,0.002,0.002,2375.0,175.0,175.0,NaN,NaN,NaN
3,11 UMi b,Confirmed,10.50,2.47,2.47,10.50,2.47,2.47,NaN,NaN,...,K4III,1.560,0.540,0.540,4340.0,70.0,70.0,NaN,NaN,NaN
4,14 And b,Confirmed,5.33,0.57,0.57,5.33,0.57,0.57,NaN,NaN,...,K0III,NaN,NaN,NaN,4813.0,20.0,20.0,NaN,NaN,NaN
5,14 Her b,Confirmed,4.64,0.19,0.19,4.64,0.19,0.19,NaN,NaN,...,K0 V,5.100,NaN,NaN,5311.0,87.0,87.0,NaN,NaN,NaN
6,16 Cyg B b,Confirmed,1.68,0.07,0.07,1.68,0.07,0.07,NaN,NaN,...,G2.5 V,8.000,1.800,1.800,5766.0,60.0,60.0,NaN,NaN,NaN
7,18 Del b,Confirmed,10.30,NaN,NaN,10.30,NaN,NaN,NaN,NaN,...,G6III,NaN,NaN,NaN,4979.0,18.0,18.0,NaN,NaN,NaN
8,1I/2017 U1,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.000002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1RXS 1609 b,Confirmed,14.00,3.00,2.00,NaN,NaN,NaN,1.700000,NaN,...,K7V,0.011,0.002,0.002,4060.0,200.0,200.0,NaN,NaN,NaN

In [15]:
# the last 2 rows
df.tail(2)

,# name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
3730,ups And d,Confirmed,23.580,2.295,2.931,10.190,NaN,NaN,NaN,NaN,...,F8 V,3.8,1.0,1.0,6212.0,80.0,80.0,NaN,NaN,NaN
3731,ups And e,Confirmed,1.059,0.028,0.028,1.059,0.028,0.028,NaN,NaN,...,F8 V,3.8,1.0,1.0,6212.0,80.0,80.0,NaN,NaN,NaN

View a sample of 8 rows

In [16]:
df.sample(8)

,# name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
2036,Kepler-204 c,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.1600,0.0350,...,NaN,NaN,NaN,NaN,5812.0,100.00,100.00,NaN,NaN,NaN
1049,KOI-1299 c,Confirmed,2.6300,0.4000,0.40,2.63,0.4,0.4,NaN,NaN,...,K2III,3.6,1.0,0.6,5020.0,60.00,60.00,NaN,NaN,NaN
1603,Kepler-1401 b,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.1500,0.0160,...,NaN,NaN,NaN,NaN,5964.0,124.67,104.96,NaN,NaN,NaN
3426,OGLE-2013-BLG-0102L b,Confirmed,13.6000,3.0000,3.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1862,Kepler-1603 b,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.1150,0.0170,...,NaN,NaN,NaN,NaN,6241.0,168.54,116.66,NaN,NaN,NaN
1746,Kepler-1513 b,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.7550,0.0650,...,NaN,NaN,NaN,NaN,5617.0,124.96,176.78,NaN,NaN,NaN
2110,Kepler-23 b,Confirmed,0.0478,0.0091,0.01,NaN,NaN,NaN,0.1511,0.0068,...,NaN,NaN,NaN,NaN,5760.0,124.00,124.00,NaN,NaN,NaN
2674,Kepler-473 b,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.3640,0.0600,...,NaN,NaN,NaN,NaN,5816.0,91.94,74.23,NaN,NaN,NaN

Use theÂ .describe() function to view qualitative measures of theÂ data.

In [9]:
df.describe()

,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,radius_error_max,orbital_period,...,star_mass_error_max,star_radius,star_radius_error_min,star_radius_error_max,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max
count,1586.000000,1394.000000,1380.000000,868.000000,706.000000,705.000,2826.000000,2751.000000,2751.000000,3595.000000,...,2619.00,3302.000000,3115.000000,3115.000000,1029.000000,758.0,760.000,3503.000000,3253.000000,3253.000000
mean,4.246192,inf,inf,3.126602,inf,inf,0.381838,0.043566,0.056004,739.923962,...,inf,1.526180,0.185188,0.249216,4.393558,inf,inf,5489.600485,111.850212,109.385773
std,9.706793,NaN,NaN,6.672883,NaN,NaN,0.412572,0.084108,0.161868,14026.132407,...,NaN,3.176343,0.656001,1.980372,3.111324,NaN,NaN,1366.600857,198.852671,194.073941
min,0.000002,0.000000,0.000000,0.000470,0.000000,0.000,0.000002,0.000000,0.000000,0.032000,...,-0.13,0.089000,-0.180000,-0.180000,0.000500,-2.6,-2.600,0.100000,0.000000,0.000000
25%,0.117500,0.018636,0.013137,0.145925,0.014602,0.013,0.140000,0.012000,0.015000,4.678558,...,0.04,0.810000,0.040000,0.040000,2.000000,0.5,0.500,5066.000000,60.880000,62.180000
50%,0.945500,0.077000,0.070000,1.120000,0.070000,0.070,0.210000,0.024000,0.031000,13.214073,...,0.05,0.990000,0.080000,0.100000,3.970000,1.0,1.025,5614.000000,97.000000,92.380000
75%,3.097500,0.340000,0.300000,3.000000,0.227500,0.240,0.332750,0.050500,0.061000,52.645817,...,0.09,1.250000,0.190000,0.250000,6.450000,2.4,2.500,5927.000000,130.000000,121.540000
max,93.600000,inf,inf,63.300000,inf,inf,2.500000,2.378000,6.148000,730000.000000,...,inf,51.100000,20.510000,104.530000,15.000000,inf,inf,33000.000000,5340.000000,5340.000000